/*==============================
=            Colors            =
==============================*/

$gray: gray;
$pink: #72675D;
$darkpink: #E75480;
$lightgray: #A7A09A;

/*=====  End of Colors  ======*/



/*=====================================
=            Media Queries            =
=====================================*/

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

/*=====  End of Media Queries  ======*/
