<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Faith Wraps - Products</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="js/vendor/slick/slick.css">
    <link rel="stylesheet" href="js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="container">
    <!-- NAVBAR FOR MOBILE DEVICES -->
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top mobile-nav">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand logo" href="#header"><i>FaithWraps</i></a>
                      <div class="shoppingcart">
                          <h3><a href="#"><i class="fa fa-shopping-cart"></i></a></h3>
                      </div><!-- END OF SHOPPINGCART -->
                    </div><!-- END OF NAVBAR-HEADER -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">FaithWraps</a></li>
                        <li><a href="#">Limited Ed.</a></li>
                        <a class="navbar-brand logotablet" href="#header"><i>FaithWraps</i></a>
                        <li><a href="#">Leather & Feather</a></li>
                        <li><a href="#">Affirmations in a Bottle</a></li>
                      </ul>
                      <div class="shoppingcarttablet">
                          <h3><a href="#"><i class="fa fa-shopping-cart"></i></a></h3>
                        </div><!-- END OF SHOPPINGCARTTABLET -->
                    </div><!-- END OF MAIN-NAV -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav><!-- END OF NAV -->

        <main>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Trust In A Bottle Set</h2>
                        <img src="img/bottleset_trust.jpg" class="mainitemimg" alt="">
                        <div class="itemthumbnail">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/items/bottlenecklace_trust.jpg" class="thumbnail" alt="">
                                </div>
                                <div class="col-xs-3">
                                    <img src="img/items/bottlescroll_trust.jpg" class="thumbnail" alt="">
                                </div>
                                <div class="col-xs-3">
                                    <img src="img/items/bottlenecklacemodel_trust.jpg" class="thumbnail" alt="">
                                </div>
                                <div class="col-xs-3">
                                    <img src="img/items/bottlering_trust.jpg" class="thumbnail" alt="">
                                </div>
                            </div><!-- END OF ROW -->
                        </div><!-- END OF ITEMTHUMBNAIL -->
                    </div><!-- END OF COL-MD-6 -->
                    <div class="col-md-6">
                        <h3>Select Your Item:</h3>
                        <form action="/" method="post">
                            <select name="item" class="form-control">
                                <option value="Trust In A Bottle Set">Trust In A Bottle Set</option>
                                <option value="Trust In A Bottle Neckless">Trust In A Bottle Neckless</option>
                                <option value="Inside The Scroll">Inside The Scroll</option>
                                <option value="Trust In A Bottle Ring">Trust In A Bottle Ring</option>
                            </select>
                           <button class="btn btn-info form-control">Buy Now</button> 
                        </form>
                        <div class="itemabout">
                        <p>Bring peace and intuition to your heart center and finger tips with the Trust In A Bottle necklace and ring set. These adorable tiny bottles contain affirmations on hand-distressed scrolls, which read "I trust my dreams and intuitions. I am destined for great things." The bottles also include amethyst gems. The ring is finished with an antique heart lock and an adjustable ring. The necklace comes with an antique key and matching 27" chain. These exquisite bottles are the perfect touch of vintage to any outfit, while reminding us to keep positive throughout the day.</p>
                        <h3 class="text-center">About The Gem</h3>
                        <p><strong>Color: </strong>Purple</p>
                        <p><strong>Energies:  </strong>Intuition, Balance, Serenity, Inner Strength, Emotional Stability, Lucid Dreaming </p>
                        <p><strong>Chakra: </strong>Crown and Third Eye</p>
                        </div>
                        <p>Amethyst is a beautiful spiritual stone, perfect for meditation and its calming affects. It works to provide the wearer with intuition, balance, peace, patience, and serenity. The stone brings inner strength and emotional stability. Amethyst is a great tool for anyone dealing with grief or loss. The stone is also used for bringing pleasant dreams and understanding them. </p>
                    </div><!-- END OF COL-MD-6 -->
                </div><!-- END OF ROW -->
            </div><!-- END OF ITEM -->

            <div class="similaritems">
                <h2 class="text-center">Similar Items</h2>
                 <div class="products">
                    <div>
                        <a href="#"><h4>Bottle Set Trust</h4><img src="img/bottleset_trust.jpg"  /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                    <div>
                        <a href="#"><h4>Tigresscuff</h4><img src="img/tigresscuff.jpg"  /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                    <div>
                        <a href="#"><h4>Transformation Mistletoe</h4><img src="img/transformation_mistletoe.jpg" /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                    <div>
                        <a href="#"><h4>Black Earrings</h4><img src="img/blackearrings.jpg" /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                    <div>
                        <a href="#"><h4>Relaxation Riverstone</h4><img src="img/relaxation_riverstone.jpg" /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                    <div>
                        <a href="#"><h4>Bottle Set Scroll</h4><img src="img/bottlescroll_trust.jpg" /></a>
                        <p>$59.99</p>
                        <button class="btn btn-info">Buy Now!</button>
                    </div>
                </div><!-- END OF PRODUCTS -->
            </div>

        </main>
    </div><!-- END OF CONTAINER -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 form">
                    <h6>Copyright &copy; 2015 - Team Tony is Awesome!</h6>
                    <p class="text-center">Subscribe now to receive newsletters!</p>
                    <form action="" method="post">
                        <input type="text" name="email" class="form-control" placeholder="example@example.com">
                        <button class="btn btn-info form-control">Submit</button>
                    </form>
                    <ul class="socialiconstablet">
                        <li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!-- END OF COLUMN -->
                <div class="col-sm-4">
                    <ul>
                        <li class="contactinfo"><button class="btn btn-success btnfooter"><a href="#">Contact Us</a></button></li>
                        <li><button class="btn btn-success btnfooter"><a href="#">About Us</a></button></li>
                        <li><button class="btn btn-success btnfooter"><a href="#">FAQ</a></button></li>
                        <li><button class="btn btn-success btnfooter"><a href="#">Privacy</a></button></li>
                        <li><button class="btn btn-success btnfooter"><a href="#">Terms and Conditions</a></button></li>
                    </ul>
                </div><!-- END OF COLUMN -->
                <div class="col-sm-4">
                    <ul class="socialiconsmobile">
                        <li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <div class="contact">
                        <h3 class="text-center">Contact Us</h3>
                        <p class="text-center"><a href="#">Info@FaithWraps.com</a></p>
                        <p>For general information about FaithWraps or our products.</p>
                        <p class="text-center"><a href="#">TechSupport@FaithWraps.com</a></p>
                        <p>For problems with logging into your account or other questions related to our website.</p>
                        <p class="text-center"><a href="#">CustomerSupport@FaithWraps.com</a></p>
                        <p>For questions regarding sales, pending orders, or other general transactions.</p>
                    </div><!-- END OF CONTACT -->
                </div><!-- END OF COLUMN -->
            </div><!-- END OF ROW -->
        </div><!-- END OF CONTAINER -->
    </footer>

    <script src="js/vendor/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vendor/slick/slick.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
</body>
</html>
