/*=================================
=            Container            =
=================================*/

main {
    margin-top: 70px;
    @media (min-width: $break-small){
    	margin-top: 130px;
    	margin-bottom: 20px;
    }
}


/*=====  End of Container  ======*/
