/*==============================
=            Footer            =
==============================*/

footer {
    border-top: 1px solid lightgray;
    background-color: #F8F8F8;
    color: $gray;
    font-size: 12px;
    padding: 20px;
    a {
        color: $gray;
        &:hover {
            color: $pink;
        }
    }
    h5 {
        color: $pink;
    }
    h6 {
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .form input {
        margin-bottom: 10px;
    }
    @media (min-width: $break-small) {
        .socialiconsmobile {
            display: none;
        }
        .socialiconstablet li i:first-child, .socialiconstablet li i:nth-child(3) {
            margin-right: 18px;
        }
        .socialiconstablet {
            display: block;
            text-align: center;
            width: 100%;
            li {
                display: inline-block;
                a i {
                    opacity: 0.6;
                    transition: 0.2s;
                    &:hover {
                        font-size: 1.1em;
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media (min-width: $break-medium) {
        & .socialiconstablet li i:first-child, & .socialiconstablet li i:nth-child(3) {
            margin-right: 26px;
        }
    }
}


.footerlinks {
    h5 {
        font-weight: bold;
        border-bottom: 1px dotted $pink;
        padding-bottom: 10px;  
    }
    ul li {
        margin-bottom: 5px;
        padding: 3px;
    }
    ul li a {
        font-size: 1.1em;
        transition: 0.4s;
        &:hover {
            text-decoration: none;
        }
    }
}

.botfooter h5 {
    background-color: $pink;
    height: 42px;
    margin: 0;
    width: 100%;
}

.newsletter {
    margin-top: 40px;
    h5 {
        border-bottom: 1px dotted $pink;
        padding-bottom: 10px; 
    }
    @media (min-width: $break-small) {
       margin-top: 0px; 
    }
}

#newsletter {
    button {
        background-color: pink;
        border-left: none;
        color: white;
        transition: 0.4s;
        &:hover {
            background-color: $darkpink;
            color: white;
        }
    }
}

.newsletter h6 {
    padding: 10px;
}
.newsletter h5 {
    font-weight: bold;
}

.bottom-footer {
    background-color: #E4E4E4;
}



/*=====  End of Footer  ======*/