/*===========================
=            Nav            =
===========================*/

nav {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: -1px 10px 11px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 11px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 11px -12px rgba(0,0,0,0.75);
    color: #72675D;
    li:not(:last-child){
        margin-right: 2px;
        @media (min-width: $break-large) {
            margin-right: 20px;
        }
    }
    li a {
        font-size: 0.75em;
        transition: 0.4s;
        letter-spacing: 1.1px;
        color: $lightgray;
        text-transform: uppercase;
        &:hover {
            opacity: 0.8;
        }
    }
    @media (min-width: $break-medium) {
        li a {
            font-size: 1.0em;
        }
    }
}

.nav li:last-child {
    font-size: 1.3em;
}

#logo-main {
    a {
        color: $pink;
        &:hover {
            color: $darkpink;
            text-decoration: none;
        }
    }
    @media (min-width: $break-small) {
        text-align: center;
        font-family: 'Alex Brush', cursive;
        margin: 0;
        margin-top: 10px;
    }
}

#logo-main2 {
    display: inline-block;
    font-family: 'Alex Brush', cursive;
    margin: 0;
    width: 260px;
    @media (min-width: 435px) {
        width: 300px;
    }
    @media (min-width: 470px) {
        width: 340px;
    }
    @media (min-width: 520px) {
        width: 390px;
    }
    @media (min-width: 550px) {
        width: 420px;
    }
    @media (min-width: 590px) {
        width: 450px;
    }
    @media (min-width: 630px) {
        width: 480px;
    }
    @media (min-width: 650px) {
        width: 510px;
    }
    @media (min-width: 690px) {
        width: 550px;
    }
    @media (min-width: 740px) {
        width: 590px;
    }
}

// .nav a {
//     color: #FF9BCD;
// }

// .navbar-brand a {
//     color: #FF9BCD;
// }

.shoppingcartmobile i {
    display: none;
    @media (min-width: $break-small) {
        display: inline-block;
    }
}

.shoppingcart {
    display: inline-block;
    text-align: right;
    h3 {
        display: inline-block;
        margin: 0;
        margin-top: 13px;
        font-size: 1.6em;
    }
    a {
        color: gray;
        transition: 0.2s;
        &:hover {
            color: tomato;
        }
    }
    @media (min-width: $break-small) {
        display: none;
    }
}

/* Nav styles for 768px */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.slick-prev:before,
.slick-next:before {
   display: inline-block;
   position: relative;
   bottom: 60px;
}

/*=====  End of Nav  ======*/