/*===========================
=            Nav            =
===========================*/

nav {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: -2px 11px 11px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 11px 11px -12px rgba(0,0,0,0.75);
    box-shadow: -2px 11px 11px -12px rgba(0,0,0,0.75);
    li {
        color: black;
    }
    li a {
        font-size: 0.75em;
        color: black;
    }
    @media (min-width: $break-medium) {
        li a {
            font-size: 1.0em;
        }
    }
}

main {
    margin-top: 100px;
}

.logotablet {
    display: none;
}

.mobile-nav {
    background-color: $mineShaft;
}

.shoppingcarttablet {
    display: none;
    @media (min-width: $break-small) {
        display: inline-block;
        h3 {
            display: inline-block;
            margin: 0;
            margin-top: 13px;
            color: gray;
            font-size: 1.6em;
        }
        a {
            color: gray;
            transition: 0.2s;
            &:hover {
                color: tomato;
            }
        }
    }
    @media (min-width: $break-medium) {
        margin-left: 30px;
    }
}

.shoppingcart {
    text-align: right;
    h3 {
        display: inline-block;
        margin: 0;
        margin-top: 13px;
        font-size: 1.6em;
    }
    a {
        color: gray;
        transition: 0.2s;
        &:hover {
            color: tomato;
        }
    }
    @media (min-width: $break-small) {
        display: none;
    }
}

/* Nav styles for 768px */
@media (min-width: $break-small) {
    .logo {
        display: none;
    }
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -100px;
        text-align: center;
    }
}


/*=====  End of Nav  ======*/