/*=============================
=            Icons            =
=============================*/

.socialiconstablet li {
    display: none;
}

footer .socialiconsmobile, footer .socialiconstablet {
    text-align: center;
}

footer .socialiconsmobile li,  footer .socialiconstablet {
    display: inline-block;
    font-size: 2.7em;
}

footer .socialiconsmobile li i, 
footer .socialiconstablet li i {
    color: $gray;
    opacity: 0.9;
    transition: 0.2s;
}

footer .socialiconsmobile li i:hover, 
footer .socialiconstablet li i:hover {
    color: $pink;
}

footer .socialiconsmobile li i:first-child, footer .socialiconsmobile li i:nth-child(3) {
    margin-left: 16px;
    margin-right: 16px;
    opacity: 1;
}

footer .socialiconsmobile li i:first-child:hover {
    color: #59ADEB;
}

footer .socialiconsmobile li i:last-child:hover {
    color: #C0B4AC;
}

/*=====  End of Icons  ======*/
