/*=======================================
=            Categories Page            =
=======================================*/

.titlebanner {
	display: none;
		@media (min-width: $break-small) {
			display: block;
			font-family: 'Alex Brush', cursive;
			background-color: white;
			z-index: 10;
			position: relative;
			padding: 10px;
			-webkit-box-shadow: 0px 5px 28px -8px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 5px 28px -8px rgba(0,0,0,0.75);
			box-shadow: 0px 5px 28px -8px rgba(0,0,0,0.75);
		h1 {
			margin: 0;
		}
	}
}

.category-banner {
	h3 {
		color: white;
	}
}

// #sticky-menu {
// 	opacity: 0;
// 	transition: opacity 1s;
//     -webkit-transition: opacity 1s;
//     -moz-transition: opacity 1s;
//     -o-transition: opacity 1s;
// }

// .is-sticky #sticky-menu {
//     opacity: 1;
// }


// #sticky-wrapper {
// 	height: 0 !important;
// }
// .sticky-wrapper {
// 	height: 0 !important;
// }

.visible {opacity:1;}

.categorydesc {
	h2 {
		opacity: 0.9;
		color: white;
		font-family: 'Alex Brush', cursive;
		font-size: 3em;
		font-weight: bold;
		@media (min-width: $break-small) {
			margin-top: 68px;
			font-size: 5em;
		}
		@media (min-width: $break-large) {
			font-size: 6em;
		}
		// margin-top: 68px;
		// opacity: 0.9;
		// font-weight: bold;
		// color: white;
		// font-family: 'Alex Brush', cursive;
		// font-weight: bold;
		// font-size: 6em;
	}
	p {
		color: white;
		opacity: 0.9;
		@media (min-width: $break-small) {
			font-size: 1.4em;
		}
	}
}

.category-banner {
	position: relative;
    margin-top: 50px;
    background-image: url('/assets/img/categorybanner.jpg');
    background-size: cover;
    height: 450px;
    background-attachment: fixed;
}

.categorymason p {
    font-weight: bold;
    font-size: 1.4em;
    color: $gray;
}

#masonryoverlay {
	height: 90.5%;
	@media (min-width: 490px) {
		height: 86%;
	}
	@media (min-width: 580px) {
		height: 88%;
	}
	@media (min-width: 680px) {
		height: 89.8%;
	}
	@media (min-width: 720px) {
		height: 86.7%;
	}
	@media (min-width: $break-medium) {
		height: 89.8%;
	}
	@media (min-width: 1200px) {
		height: 91.4%;
	}
	@media (min-width: 1244px) {
		height: 86%;
	}
}

.categorydesc {
	text-align: center;
	color: $darkpink;
	margin-bottom: 20px;
	margin-top: 80px;
	@media(min-width: $break-small){
		margin-top: 20px;
	}
}

.items {
	text-align: center;
	margin-bottom: 30px;
	img {
		width: 80%;
	}
}

.items button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.productimgs {
	text-align: center;
}

.items img {
	border-radius: 5px;
}

.itembox h4 {
	font-size: 0.7em;
	margin-bottom: 0;
	margin-top: 3px;
	color: $darkpink;
	@media (min-width: $break-small) {
		font-size: 0.9em;
	}
	@media (min-width: $break-large) {
		font-size: 1.2em;
	}
}


.itembox {
	margin-bottom: 25px;
	a {
		transition: 0.4s;
		opacity: 1;
	}
	a:hover {
		text-decoration: none;
		opacity: 0.8;
	}
}



/*=====  End of Categories Page  ======*/

