/*=====================================
=            Checkout Page            =
=====================================*/

.checkout {
	margin-top: 80px;
}

.registrationcheckout {
	display: none;
}

.guestcheckout {
	text-align: center;
}


/*=====  End of Checkout Page  ======*/
