/*==================================
=            Items Page            =
==================================*/

.item {
	margin-top: 80px;
	p {
		padding: 10px;
		font-size: 1.2em;
	}
	form button {
		margin-top: 10px;
	}
	.itemabout {
		text-align: left;
	}
	.mainitemimg img {
		position: absolute;
	}
	.itemthumbnail {
		text-align: center;
		margin-top: 10px;
		img {
			max-width: 130px;
			cursor: pointer;
		}
	}
	img {
		width: 100%;
		max-width: 400px;
		margin-bottom: 10px;
	@media (min-width: $break-small) {
		max-width: 600px;
		}
	}
}

.similaritems {
	margin-top: 50px;
}

/*=====  End of Items Page  ======*/
