/*=================================
=            Main Page            =
=================================*/

.mainpics {
    display: block;
    img {
        margin: 0 auto;
    }
}

// .slogan {
//     color: $pink;
//     h1 {
//         font-family: 'Alex Brush', cursive;
//     }
//     p {
//         letter-spacing: 1px;
//         line-height: 1.6em;
//     }
// }

.slick-prev:before, .slick-next:before { 
    color: #F6F0E4;
}

.products, .randomProducts {
    margin-bottom: 50px;
    display: block;
    text-align: center;
    h4 {
        text-align: center;
        margin: 0;
        margin: 10px 0;
        font-size: 1.0em;
    }
    img {
        margin: 0 auto;
        transition: 0.2s;
        max-width: 270px;
    }
    p {
        margin: 0;
        margin-top: 7px; 
    }
    a {
        color: $pink;
        transition: 0.2s;
        &:hover {
            color: $gray;
            text-decoration: none;
        }
    }
    @media (min-width: $break-small) {
        & .slick-prev:before, & .slick-next:before {
            color: $pink !important;
        }
    }
}



header {
    margin-top: 50px;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    height: 700px;
    @media (min-width: $break-small) {
        margin-top: 92px;
    }
    .maincontent {
        display: block;
        text-align: center;
        color: black;
        position: relative;
        font-weight: bold;
        top: 350px;
        font-size: 1.5em;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgba(255,255,255, 0.4);
        width: 100%;
        h1 {
            font-family: 'Alex Brush', cursive;
        }
        h3 {
            font-family: Serif;
        }
        @media (min-width: 630px) {
            top: 430px;
        }
        @media (min-width: $break-medium) {
            display: inline-block;
            top: 180px;
            width: 500px;
            left: 490px;
            padding: 40px 20px;
            padding-left: 60px;
            text-align: center;
        }
        @media (min-width: 1420px) {
            left: 800px;
            width: 57.9%;
            text-align: left;
            overflow: hidden;
        }
    }
}

.randomScroll {
    background-color: #F7F7F7;
}
.explore {
    font-family: 'Alex Brush', cursive;
    margin: 0;
    padding: 50px;
}

.twitter_feed_container {
    margin-bottom: 0;
}

.twitter_feed_container {
    padding: 20px 0;
    background-color: #fff;
    width: 100%;
}

#twitter-feed .fa-twitter {
    font-size: 7em;
    color: pink;
}

#twitter-feed h3 {
    font-size: 2.5rem;
    color: #B1B1B1;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#twitter-feed h5 a {
    position: relative;
    color: pink;
}

#twitter-feed .nav {
    position: absolute;
    bottom: 7%;
    font-size: 2em;
    color: pink;
    opacity: 0.3;
    padding: 50px 0;
}

#twitter-feed .nav:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity .5s linear;
     -moz-transition: opacity .5s linear;
     -webkit-transition: opacity .5s linear;
}

#twitter-feed .nav.prev {
    left: 0;
}

#twitter-feed .nav.next {
    right: 0;
}

.tweets {
    position: relative;
}

.tweet {
    display: block;
    max-width: 75%;
    margin: 0 auto;
    padding: 15px;
    color: #B1B1B1;
    font-size: 1em;
}

.tweet a {
    color: pink;
}

.tweet span {
    margin-top: 1em;
    display: block;
    font-style: italic;
    color: pink;
}

/*=====  End of Main Page  ======*/
