/*=================================
=            Main Page            =
=================================*/


.mainpics {
    display: block;
    img {
        margin: 0 auto;
    }
}


.slick-prev:before, .slick-next:before { 
    color: #F6F0E4;
}

.products, .randomProducts {
    margin-bottom: 50px;
    display: block;
    text-align: center;
    h4 {
        text-align: center;
        margin: 0;
        margin: 10px 0;
        font-size: 1.0em;
    }
    img {
        margin: 0 auto;
        transition: 0.2s;
        max-width: 270px;
    }
    p {
        margin: 0;
        margin-top: 7px; 
    }
    a {
        color: $darkpink;
        transition: 0.2s;
        &:hover {
            color: $gray;
            text-decoration: none;
        }
    }
    @media (min-width: $break-small) {
        & .slick-prev:before, & .slick-next:before {
            color: $pink !important;
        }
    }
}


//Masonry Styles
.banner {
    position: relative;
    margin-top: 50px;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    height: 700px;
    @media (min-width: $break-small) {
        margin-top: 92px;
    }

    .banner-display-wrapper {
        position: absolute;
        background-color: rgba(255, 192, 203, 0.85);
        width: 600px;
        height: 400px;
        top: 50%;
        right: 15%;
        margin-top: -200px;
    }

    .banner-display {
        position: absolute;
        width: 89%;
        height: 85%;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto;
        border: 20px solid rgba(255, 255,255, .5);
        color: white;
        text-transform: uppercase;
        padding: 15px;

        h1 {
            margin: 20px 0;
            font-weight: bold;
            letter-spacing: 7px;
            text-align: center;
            font-size: 3em;
        }

        h3 {
            letter-spacing: 10px;
            font-size: 2em;
            margin-top: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .banner .banner-display-wrapper {
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .banner {
        .banner-display-wrapper {
            width: 100%;
        }

        .banner-display {
            h3 { font-size: 2em; }
        }
    }
}

@media (max-width: 480px) {
    .banner {
        .banner-display {
            h1 { font-size: 2.5em; }
            h3 { font-size: 2em; }
        }
    }
}

@media (max-width: 410px) {
    .banner {
        .banner-display {
            h1 { 
                font-size: 1.75em; 
                letter-spacing: 3px;
                line-height: 2em;
                margin-top: 70px;
            }
            h3 { display: none; }
        }
    }
}

.randomScroll {
    background-color: #F7F7F7;
}


.explore {
    font-family: 'Alex Brush', cursive;
    margin: 0;
    padding: 50px;
}

/*=====  End of Main Page  ======*/
