/*=====================================
=            Products Page            =
=====================================*/

.productdesc {
	margin-top: 100px;
	text-align: center;
}

.items {
	text-align: center;
	img {
		width: 80%;
	}
}

.items button {
	margin-top: 10px;
	margin-bottom: 10px;
}


/*=====  End of Products Page  ======*/
