/*=====================================
=            Products Page            =
=====================================*/

.item {
	margin-top: 80px;
	p {
		padding: 10px;
		font-size: 1.2em;
	}
	form button {
		margin-top: 10px;
	}
	.itemabout {
		text-align: left;
	}
	.mainitemimg img {
		position: absolute;
	}
	.itemthumbnail {
		text-align: center;
		margin-top: 10px;
		img {
			max-width: 130px;
			cursor: pointer;
		}
	}
	img {
		width: 100%;
		max-width: 400px;
		margin-bottom: 10px;
	@media (min-width: $break-small) {
		max-width: 600px;
		}
	}
}

.similaritems {
	margin-top: 50px;
}

.similaritems h2 {
	color: $darkpink;
	font-family: 'Alex Brush', cursive;
}

.productdesc h2 {
	margin-top: 0;
	font-size: 3em;
	text-align: left;
	font-family: 'Alex Brush', cursive;
}

.productdesc p {
	letter-spacing: 1px;
    line-height: 1.6em;
}

.itemabout p {
	font-size: 1em;
	border-bottom: 1px solid #eee;
	padding-bottom: 2em;
}

.qty em {
	color: red;
	margin-left: 17px;
}

.product-details {
	dl dt {
		width: 100px;
	}
	dl dd {
		margin-left: 120px;
	}
	p {
		font-size: 1em;
	}
}



/*=====  End of Products Page  ======*/

